#### 2019/W26 MAKEOVER MONDAY 
## 01. Simple xlsx table. In and Out
Just import, clear some names, look at info and export.

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
df = pd.read_excel('Alcohol.xlsx', index_col = 0)
df.head(3)

        Country  Liters of pure alcohol consumed per capita
Rank
1       Belarus                                        17.5
2       Moldova                                        16.8
3     Lithuania                                        15.4

In [3]:
df.rename(columns={'Liters of pure alcohol consumed per capita':'Liters'}, inplace=True)
df.head(3)

        Country  Liters
Rank
1       Belarus    17.5
2       Moldova    16.8
3     Lithuania    15.4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  25 non-null     object
 1   Liters   25 non-null     float64
dtypes: float64(1), object(1)
memory usage: 600.0+ bytes

In [5]:
df.describe()

          Liters
count  25.000000
mean   13.160000
std     1.575331
min    11.600000
25%    12.200000
50%    12.500000
75%    13.800000
max    17.500000

In [6]:
df.to_excel("Alcohol_out.xlsx")